.about_container {
  height: 130vh;
  width: 100%;
  background-image: url("../assets/imagen.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.about_paragraph_1 {
  color: #4f4d9b;
  font-size: 2.5em;
  position: absolute;
  top: 21%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* ================== MEDIA QUERIES (MEDIUM DEVICES) ================ */

@media screen and (max-width: 1024px) {
}

/*================== MEDIA QUERIES (MOBILE LANDSCAPE ) ================ */

@media screen and (max-width: 768px) {
}

/*================== MEDIA QUERIES (SMALL DEVICES) ================ */

@media screen and (max-width: 600px) {
}
