.carrousel {
  max-height: auto;
  transition: all 0.5s ease-in-out;
}

.carrousel_img {
  height: 100%;
  width: 100%;
}

.prev_img {
  display: none;
  border-radius: 3%;
  background: transparent;
  cursor: pointer;
  opacity: 0.5;
}

.next_img {
  display: none;
  border-radius: 3%;
  background: transparent;
  cursor: pointer;
  opacity: 0.5;
}
