.Insurrance_container{
    background-color: blueviolet;
    padding-bottom: 5%;
}

.insurrance_parragraph {
    color:white;
    margin: 5rem;
    font-size:6vh;
}


/* ================== MEDIA QUERIES (MEDIUM DEVICES) ================ */

@media screen and (max-width: 1024px) {  

    .insurrance_parragraph {
        font-size:3.5vh;
        margin: 4rem;
    }
  
}

/*================== MEDIA QUERIES (MOBILE LANDSCAPE ) ================ */
@media screen and (max-width: 1024px) {
    .insurrance_parragraph {
        font-size:4.5vh;
        
    }
}

@media screen and (max-width: 768px) {
    .insurrance_parragraph {
        font-size:4vh;
        
    }
}

/*================== MEDIA QUERIES (SMALL DEVICES) ================ */

@media screen and (max-width: 600px) {
    .insurrance_parragraph {
        font-size:3vh;  
    }
}